<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Want to add post?</h1>
    <form action='/add' method='POST'>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required><br>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea><br>

        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>