<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
            </tr>
            {% for user, details in users.items() %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ details['age'] }}</td>
                    <td>{{ details['country'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>